.mainheading{
text-align: center;
   
    color: #f97316;
    font-family: sans-serif;
    font-weight: 700;

    
    
    
    }
    .line{
        color: black;
        margin-left: 80px;
        font-size: 80px;
        margin-top: -100px;
    }

    .mainimg{
        width: 1400px;
        height: 400px;
        margin-bottom: 20px;
    }
    .des{
        text-align: center;
        font-size: medium;
       font-weight: 500;
        
        color: black;
        font-family: sans-serif;
    }