.mainheading{

    margin-right: 400px;
    color: #f97316;
    font-family: sans-serif;
    weight: 700;

    
    
    
    }
    .line{
        color: black;
        margin-left: 80px;
        font-size: 80px;
        margin-top: -100px;
    }

    .mainimg{
        width: 1400px;
        height: 400px;
        margin-bottom: 20px;
    }
    .des{
        font-size: medium;
        weight: 500;
        margin-left: 100px;
        color: black;
        font-family: sans-serif;
    }