.body{
    background-color: rgb(253, 251, 251);
}



.mainheading{

text-align: center;
color: #f97316;
font-family: sans-serif;
font-weight: 900;


}
.line{
    margin-left: 510px;
    font-size: 85px;
    margin-top: -100px;
}
.para{
    text-align: center;
    font-weight: 500;
    font-family: sans-serif;
}


input{
    border: 1px solid black;
    width: 40em;
    height: 2.5em;
    /* margin: 5px; */
}
.btn{
    background-color: #f97316;
    color: white;
    font-weight: 600;
    margin-left: 17vw;
   margin-top: 40PX;
    padding: 10px;
    width: 10vw;
    text-align: center;
    /* padding-bottom: 20px; */
}

form{
    height: 50vh;
    width: 50vw;
    /* border: 1px solid black; */
    align-content: center;
    margin: auto;
    padding: 20px;
}
.mainimg{
width: 1400px;
height: 450px;
margin-bottom: 20px;

}