
.col{
background-color: rgb(243, 243, 243);
margin: 10px;
padding: 20px;


}
.lname{
    color: #f97316;
    font-weight: 700;
}
.linfo{
    font-weight: 600; 
}
.row{
    margin-left: -90px;
    margin-right: -90px;
}
.des{
    font-weight: 500;
    margin-left: 350px;
}

