.display{
    display: inline-block;
}
.card{
    height: 90px;
width: 350px;
margin: 20px;
display: flex;
justify-content: space-around;
background-color: rgba(var(--bs-white-rgb));
border: gre;
}
.div{
    height: 50px;
    width: 40px;
    margin: 15px;

 }  
.div{
    height: 50px;
    width: 40px;
    margin: 15px;
}
.para{
    text-align: left;
    margin-left: 75px;
    position: relative;
    top: -50px;
    font-size: x-small;
    font-family:'Raleway', sans-serif;
    color: black;
}
.pic{
    height: 50px;
    width: 27px;
    position: relative;
    top: -130px;
    left: 307px;
    border-radius: 9px;
    background-color:#f97316;

}
.pic3{
    height: 60px;
      width: 27px;
     position: relative;
     top: -170px;
     left: 303px;
     background-color: #5bf66a;
     border-radius: 9px;
     padding: 2px;
     margin: 5px;
}