.brandlogo{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 3px solid;
    padding: 5 0 0 10px;
    margin: 20px 0;
}
.li{
    padding: 0 0 0 200px;
}
.container-fluid{
    background-color: rgb(242, 111, 17);
    
    
    height: 80px;
    padding: 20px;
    margin: 0;
    
}
.pages{
    color: white;
    font-size: 12pt;
    margin: 25px 0 0 4px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.pagess{
    color: white;
    font-size: 12pt;
    margin: 25px 0 0 150px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.logosname{
    height: 50px;
   
    
    
    margin: 25px 0 0 0px;
}
body{
    /* background-image: url("../image/4907157.jpg"); */
    position:sticky;
    background-size: cover;
}
