.urja{
    height: 380px;
    width: 100%;
}
.h1{
    position: relative;
    left: 90px;
    top: 150px;
    margin-left: 10px;
}
.paragraph{
    margin-top: 200px;
    /* margin-right: 400px; */
    margin-left: 100px;
    text-align: start;
    font-family: 'Raleway', sans-serif;

}
.second{
    display: flex;
    /* flex-wrap: wrap; */
}
@media screen and (max-width:300px) {
    .second{
      display: inline-block;
    }
}
.button{
    height: 70px;
    width: 200px;
    
}
.newimg{
    height: 500px;
    width: 500px;
    padding: 40px;
    border-radius: 60px;
    margin-top: -30px;

}
.singlebtn{
    height: 60px;
    width: 160px;
    position: relative;
    top: -150px;
    right: 400px;
}
.dblbtn{
    height: 60px;
    width: 160px;
    position: relative;
    top: -269px;
    right:200px;   
}
.vehicle{
    height: 500px;
    width: 500px;
    border-radius: 60px;
    padding: 40px;
}
.Head{
    position: relative;
    top: -380px;
    left: 530px;
    color:  #f97316;

}
.col{
margin-left: 530px;
margin-top: -330px;
}
.newbtn{
    height: 60px;
    width: 160px;
    margin-left: 500px;
    position: relative;
    top: -200px;
}
.oldbtn{
    height: 60px;
    width: 160px;
    margin-left:720px;
    position: relative;
    top: -320px;
}

