
.bold{
    color: rgb(112, 108, 108);
}
.text{
    color:rgb(249 115 22) ;
    text-align: center;
    margin:40px 0px;
} 
.main{
   
    display: flex;
   
}
.solar{
   
    width: 100%;
}
.para{
    color: rgb(93, 89, 89);
 margin: 0px 50px;
}
.img{
    height: 400px;
    width: 200%;
    margin-right: 60px;
    margin-bottom: 40px;
}
/* p{
    
   
    font-family:  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
} */
.lastelement{
    margin:150px;
}